span[class^='errorCard__icon'] svg {
  opacity: 0 !important;
}
span[class^='errorCard__icon'] {
  background-image: url(../assets/images/avatar_placeholder.svg) !important;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.word-wrap {
  overflow-wrap: break-word;  /* Ensures long words break */
  word-break: break-word;     /* Fallback */
}
